In [2]:
from PIL import Image 
import pytesseract as pt 
import os

path ="D://Data Science//Datasets//OCR//Train"

lst = []

for imageName in os.listdir(path): 
              
        inputPath = os.path.join(path, imageName) 
        img = Image.open(inputPath) 
  
        # applying ocr using pytesseract for python 
        text = pt.image_to_string(img, lang ="eng") 
        lst.append(text)

In [3]:
lst[1]

"When people ask\nwhat I see in you,\nI just smile and\nlook away because\nI'm afraid if they knew,\nthey'd fall in love\nwith you too."

In [33]:
df_raw = pd.DataFrame({'data':lst})
df2 = df_raw.copy()

In [34]:
import nltk
from nltk import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import LancasterStemmer, WordNetLemmatizer, PorterStemmer
from wordcloud import WordCloud, STOPWORDS
from textblob import TextBlob
df2

                                                  data
0
1    When people ask\nwhat I see in you,\nI just sm...
2                            eS\nSmee) |\naie) al\nRee
3                                              LOVE\n®
4
..                                                 ...
234  HATE\nIr Has causED ALOT ©\nOF PROBLEMS IN THI...
235  “Tam nol free\nwhile any woman\nis unfree, eve...
236                  PAT ENTS Te\nASU aL LE\n\nOT EDAY
237
238  Being gay is not a crime\n\nand it is not a si...

[239 rows x 1 columns]

In [35]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    239 non-null    object
dtypes: object(1)
memory usage: 2.0+ KB

In [36]:
## Change the reviews type to string
df2['data'] = df2['data'].astype(str)

In [37]:
## Lowercase all reviews
df2['data'] = df2['data'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [38]:
df2['data'][1]

"when people ask what i see in you, i just smile and look away because i'm afraid if they knew, they'd fall in love with you too."

In [39]:
stop = stopwords.words('english')
df2['data'] = df2['data'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df2['data'][1]

"people ask see you, smile look away i'm afraid knew, they'd fall love too."

In [40]:
df2['data'][1]

"people ask see you, smile look away i'm afraid knew, they'd fall love too."

In [42]:
st = PorterStemmer()
df2['data'] = df2['data'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

In [43]:
df2['data'][1]

"peopl ask see you, smile look away i'm afraid knew, they'd fall love too."

In [46]:
## Define a function which can be applied to calculate the score for the whole dataset

def senti(x):
    return TextBlob(x).sentiment  

df2['senti_score'] = df2['data'].apply(senti)

df2

,data,senti_score
0,,"(0.0, 0.0)"
1,"peopl ask see you, smile look away i'm afraid ...","(0.06666666666666667, 0.5333333333333333)"
2,es smee) | aie) al ree,"(0.0, 0.0)"
3,love ®,"(0.5, 0.6)"
4,,"(0.0, 0.0)"
...,...,...
234,"hate ir caus alot © problem world, solv one ¥e...","(-0.8, 0.9)"
235,"“tam nol free woman unfree, even shackl differ...","(0.5, 0.9)"
236,pat ent te asu al le ot eday,"(0.0, 0.0)"
237,,"(0.0, 0.0)"
238,gay crime sin. stop use god justifi prejudice....,"(0.5333333333333334, 0.6916666666666667)"

In [47]:
df2['senti_score'][1][0]

0.06666666666666667

In [56]:
df2['sentiment'] = df2['data'].apply(lambda x: TextBlob(x).sentiment[0])
df2.head()

,data,senti_score,sentiment
0,,"(0.0, 0.0)",0.000000
1,"peopl ask see you, smile look away i'm afraid ...","(0.06666666666666667, 0.5333333333333333)",0.066667
2,es smee) | aie) al ree,"(0.0, 0.0)",0.000000
3,love ®,"(0.5, 0.6)",0.500000
4,,"(0.0, 0.0)",0.000000

In [82]:
conditions = [
    (df2['sentiment'] == 0),
    (df2['sentiment'] > 0.02),
    (df2['sentiment'] < 0.02)
    ]

# create a list of the values we want to assign for each condition
values = ['Random', 'Positive', 'Negative']

# create a new column and use np.select to assign values to it using our lists as arguments
df2['Category'] = np.select(conditions, values)

In [61]:
df2

,data,senti_score,sentiment,Category
0,,"(0.0, 0.0)",0.000000,Random
1,"peopl ask see you, smile look away i'm afraid ...","(0.06666666666666667, 0.5333333333333333)",0.066667,Positive
2,es smee) | aie) al ree,"(0.0, 0.0)",0.000000,Random
3,love ®,"(0.5, 0.6)",0.500000,Positive
4,,"(0.0, 0.0)",0.000000,Random
...,...,...,...,...
234,"hate ir caus alot © problem world, solv one ¥e...","(-0.8, 0.9)",-0.800000,Negative
235,"“tam nol free woman unfree, even shackl differ...","(0.5, 0.9)",0.500000,Positive
236,pat ent te asu al le ot eday,"(0.0, 0.0)",0.000000,Random
237,,"(0.0, 0.0)",0.000000,Random
238,gay crime sin. stop use god justifi prejudice....,"(0.5333333333333334, 0.6916666666666667)",0.533333,Positive

In [62]:
df2.head()

,data,senti_score,sentiment,Category
0,,"(0.0, 0.0)",0.000000,Random
1,"peopl ask see you, smile look away i'm afraid ...","(0.06666666666666667, 0.5333333333333333)",0.066667,Positive
2,es smee) | aie) al ree,"(0.0, 0.0)",0.000000,Random
3,love ®,"(0.5, 0.6)",0.500000,Positive
4,,"(0.0, 0.0)",0.000000,Random

In [83]:
sub = pd.read_csv('D://Data Science//Datasets//OCR//Test.csv')
file = sub['Filename']
cat = df2['Category']
dict = {'Filename':file , 'Category': cat}
submission = pd.DataFrame(dict)
submission.to_csv('D://Data Science//Datasets//OCR//Final_Submission1.csv', header=True, index=False)